@{
    ViewBag.Title = "Index";
}


<div class="row-fluid">
    @using (Html.BeginForm())
    {

        <fieldset>
            <legend>Provide following Details to add </legend>
        </fieldset>
        <div class="span4">
            <div class="control-group">
                label
                    <div class="controls">
                        texbox
                    </div>
            </div>
            <div class="control-group">
                lable
                <div class="controls">
                    textox
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    buttons

                </div>

            </div>

        </div>
    }
</div>
